<!--<div *ngIf="item" #midiv [ngStyle]="{'color':color, 'font-size':'33px', 'background-color':padd2}">
{{item[0].test2}}
</div>
<button #miboton (click)="miclick(miboton)">click</button>-->
<app-header></app-header>
<router-outlet></router-outlet>

<app-footer></app-footer>